@import "reset";
@import "typography";

$primary-color: #ca774a;
$body-font: "Jost";
$body-size: 24px;
$large: 800px;
$medium: 600px;

@mixin drop-shadow($color) {
  box-shadow: 0 0 10px $color;
}

@mixin mq($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin vertical-center() {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

body {
  background-color: $primary-color;
  font-family: $body-font;
  font-size: $body-size;
  color: #ffffff;
  line-height: 1.5;

  min-height: 100vh;
  @include vertical-center();
}

section {
  width: 500px;

  @include mq($medium) {
    width: 350px;
    font-size: 16px;
  }

  p {
    margin: 24px 0 0 0;
  }
}
